{
  "GOOGLE_BOOKS_API_KEY": "your-google-books-api-key-here",
  "SUPABASE_URL": "https://asqdogadhpwqpeekvxny.supabase.co",
  "SUPABASE_PUBLISHABLE_KEY": "sb_publishable_pEhvPEbg84LgQlNm9kfsUg_f-AThaqn"
}
